<h3>Bla bla bla</h3>

<% if member_signed_in? %>
<p>
  <% if current_member.participate %>
    Jeg deltar!
  <% else %>
    Dessverre, jeg har ikke muligheten til å delta
      <%= link_to "Jeg kommer!", class: 'btn large' %>  gjøre denne til ajax og endre participate-feltet
  <% end %>
</p>
<% end %>