<h3>Vedtekter for Smidigkonferansen</h3>

<br />
<h4>§1 Navn og form</h4>

<p>Foreningens navn er "Smidigkonferansen". Foreningen er en frittstående, ikke-kommersiell interesseforening. Foreningen er selveiende, og disponerer over sin egen formue og sine egne midler.</p>
<p>Foreningen er uavhengig og har ingen kommersielle interesser, og må ikke engasjere seg i aktiviteter som utelukkende tjener økonomiske formål. Foreningen opptrer ikke som representant for noe selskap, yrkes- eller næringsgruppe til å fremme egne økonomiske interesser.</p>

<br />
<h4>§2 Formål</h4>

<p>Foreningens formål er å arrangere en årlig konferanse for IT-fagmiljøet i Norge.</p>

<br />
<h4>§3 Medlemskap</h4>

<p>Enhver som har deltatt på minst en av de siste to konferansene har rett til medlemskap i foreningen for ett år om gangen. Medlemskap må være registrert skriftlig 14 kalenderdager før årsmøtet for at medlemmet har stemmerett.</p>

<p>Deltagelse på konferansen gir ikke automatisk medlemskap.</p>

<p>Medlemmer har rett til å stille på årsmøte. Medlemmer har ingen forpliktelser.</p>

<br />
<h4>§4 Årsmøte</h4>

<p>Årsmøtet er foreningens øverste organ. Ordinært årsmøte holdes årlig i første kvartal. Årsmøtet innkalles med minst en kalendermåneds varsel per websider, e-post, eller på annen måte som når medlemmene. Saker til årsmøtet må være styret i hende senest to uker før årsmøtet. Full saksliste skalt framligge senest én uke før årsmøtet.</p>

<p>Følgende saker behandles:
<ul></li>
<li>Valg av møteleder og referent.</li>
<li>Godkjennelse av regnskap og årsberetning.</li>
<li>Gjennomgang av budsjett.</li>
<li>Valg av styre, valgkomité og revisor.</li>
<li>Vedtektsendringer.</li>
<li>Andre saker som er meldt inn til årsmøtet.</li>
</ul>
</p>

<p>Ekstraordinært årsmøte skal avholdes om styret, revisor eller minst en tredjedel av medlemmene krever det.</p>

<p>Alle saker avgjøres ved alminnelig flertall blant møtende medlemmer. Ved stemmelikhet er møteleders stemme avgjørende.</p>

<br />
<h4>§5.1 Styret</h4>

<p>Styret er ansvarlig for foreningens daglige virksomhet. Styret består av leder, minst 5 styremedlemmer og minst 2 varamedlemmer. Styret konstituerer seg selv. Leder og styrets medlemmer har 2 års funksjonstid, dog slik at henholdsvis 2 og 3 styremedlemmer er på valg hvert år. Varamedlemmenes funksjonstid er 1 år. Styreleder velges innad av styret hvert år</p>
<p>Varamedlemmer kan kalles inn til styremøter ved sykdom eller behov, samt delta innad i styrets korrespondanser. De har imidlertid kun stemmerett om de deltar i styremøtet i et styremedlems sted. </p>

<br />
<h4>§5.2 Styrets oppgaver:</h4>

<p><ul>
<li>Iverksette årsmøtets bestemmelser.</li>
<li>Forvalte og føre tilsyn med foreningens virksomhet.</li>
<li>Behandle budsjettering, løpende utgifter og regnskapsføring.</li>
<li>Behandle medlemskap.</li>
<li>Representere Smidigkonferansen utad.</li>
<li>Oppnevne arrangører for årets konferanse.</li>
</ul></p>

<p>Styret er beslutningsdyktig når et flertall av styrets medlemmer er til stede. Vedtak fattes med flertall av de avgitte stemmene. Styreleder har dobbeltstemme ved stemmelikhet.</p>

<br />
<h4>§5.3 Vederlag for styrearbeid</h4>

<p>Styrearbeid lønnes ikke. Direkte kostnader i forbindelse med styrevervet kan dekkes etter skriftlig forhåndsgodkjennelse fra styret</p>

<br />
<h4>§5.4 Signatur</h4>

<p>To styremedlemmer i fellesskap eller styreleder har signaturrett.</p>

<br />
<h4>§6 Valgkomité</h4>

<p>Valgkomitéens oppgave er å foreslå kandidater til styret. Valgkomité velges av årsmøte og skal bestå av minst to personer. Valgkomitéen velges for et år av gangen.</p>

<p>Kandidater som fremmes:
<ul><li>Skal fortrinnvis være arrangører av neste års konferanse  </li>
<li>Skal vektlegges etter kjønnsfordeling, profesjonell tilknytning, erfaring og engasjement i miljøet.</li>
</ul></p>

<br />
<h4>§7 Interessekonflikter</h4>

<p>Styret kan bestemme at styremedlemmer ikke må delta i behandling eller avgjørelse av spørsmål der vedkommende styremedlem har fremtredende personlig eller økonomisk særinteresse i saken.</p>
<p>Ved uforenlige og varige interessekonflikter kan styremedlem utstemmes i ordinært eller ekstraordinært årsmøte før normal periode er utløpt.</p>

<br />
<h4>§8 Endring av vedtekter</h4>

<p>Vedtektene kan besluttes endret av ordinært eller ekstraordinært årsmøte etter å ha vært på sakslisten, og det kreves minst to tredjedels flertall av de avgitte stemmene.</p>

<br />
<h4>§9 Oppløsning</h4>
<p>Oppløsning av foreningen kan bare behandles på ordinært årsmøte. Blir oppløsning vedtatt med minst to tredjedels flertall, innkalles ekstraordinært årsmøte mellom 1 til 3 måneder senere. For at oppløsningen skal skje må vedtaket her gjentas med 2/3 flertall av de avgitte stemmene. Fordeling av foreningens midler besluttes av det til da sittende styre. Ved oppløsning av foreningen skal all gjeld betales.</p>

<p>Sammenslutning med andre interesseorganisasjoner anses ikke som oppløsning av foreningen. Vedtak om sammenslutning og nødvendige vedtektsendringer i tilknytning til dette treffes i samsvar med bestemmelsene om endring av vedtekter, jfr. § 8.</p>