<p>Hei <%= @resource.name %>!</p>

<p>Som deltaker på Smidig2010 og/eller Smidig2011 inviterer vi deg til å bli medlem  av foreningen Smidigkonferansen. Vi innkaller også med dette til årsmøte og generalforsamling i Smidigkonferansen, 22.mars kl 16:00, Oslo (mer info kommer), som du kan velge å delta på. Du kan bli medlem selv om du ikke deltar på generalforsamlingen. </p>

<p>Som medlem kan du være med å velge styre i Smidigkonferansen. Du kan også stille til valg om du liker å jobbe lange dager uten betaling. Som medlem i foreningen vil du motta kun få epost, om vi vurderer det nødvendig eller interessant. </p>

<p><%= link_to 'JA, jeg vil bli medlem', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p> Arrangørkonferanse:</p>
<p> Åpent for alle! Vi holder arrangørkonferanse umiddelbart etter årsmøtet. Som alltid er det frivillige entusiaster som former konferansen og vi ønsker alle velkomne til å bidra. Møt opp og bidra til fornying og forbedring av smidigkonferansen, Smidig 2012 ! </p>

<p>Om du ikke ønsker å bli medlem, ignorer denne mailen.</p>
<p>Ha en fantastisk dag! </p>
<p>
  Med vennelig hilsen <br />
Styret, Smidigkonferansen</p>
