<% if admin_signed_in?  %>
  <li><%= link_to('Invitasjon', new_member_path) %></li>
  <li><%= link_to('Backoffice', rails_admin_path) %></li>
  <li><%= link_to "Admin logg ut", destroy_admin_session_path, :method => :delete %> </li>
<% else  %>
  <li><%= link_to "Admin", new_admin_session_path %></li>
<% end  %>
