<% if member_signed_in? %>
  <li><%= link_to('Logg ut', destroy_member_session_path, :method => :delete) %></li>
  <li><%= link_to 'Hei '+current_member.name+'!', '#' %></li>
<% else %>
  <li><%= link_to('Logg inn', new_member_session_path)  %></li>
<% end %>
